@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-red: #e54336;
  --color-reddark: #c72928;
  --color-yellow: #f5b704;
  --color-yellowdark: #e69100;
  --color-blue: #4280ef;
  --color-bluedark: #225bc6;
  --color-green: #34a354;
  --color-greendark: #25824d;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif !important;
}

.nav-link {
  font-weight: bold;
}

.dropend .dropdown-toggle {
  margin-left: 1em;
}
.dropdown-item:hover {
  background-color: gray;
  color: #fff;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-left: -4rem;
}


.jumbotron {
  padding-top: 8rem;
  padding-bottom: 3rem;
  background-color: #dfedff;
}

.maintitle {
  color: var(--color-blue);
}

.sejarah {
  background: #cef6cb;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.subtitlesejarah {
  color: #1d1b1b;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.titlesejarah {
  color: #25824d;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.textsesjarah {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.building {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.buildingsubtitle {
  color: #4280ef;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buildingtitle {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-img-top {
  position: absolute;
  top: -80px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  filter: drop-shadow(2px 7px 11px rgba(0, 0, 0, 0.25));
  transform: scale(50%);
}

.cardbuilding {
  margin-top: 100px;
  padding-top: 100px;
  background: #f5f5f5;
  border-radius: 25px;
}

.card-title {
  flex-shrink: 0;
  color: #1d1b1b;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-text {
  color: #1d1b1b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-button {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 152px;
  height: 47px;
  border-radius: 45px;
  background: #e84232;
}

.card-button:hover {
  background: #fff;
  color: #e84232;
}

.btnbefore {
  opacity: 0%;
  transition: ease-in-out 0.2s;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  padding-bottom: 6rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  margin: 50px;
  width: 400px;
  height: 300px;
  filter: blur(3px);
}

.swiper-slide-active {
  filter: blur(0px);
  transform: scale(110%) !important;
  transition: ease-in-out 0.2s;
}

.swiper-slide-active .card-img-top {
  position: absolute;
  top: -150px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  filter: drop-shadow(2px 7px 11px rgba(0, 0, 0, 0.25));
  transform: scale(100%);
  transition: ease-in-out 0.2s;
}

.swiper-slide-active .card {
  background: #71a6eb;
}

.swiper-slide-active .card-title {
  color: #fff;
}
.swiper-slide-active .card-text {
  color: #fff;
}

.swiper-slide-active .btnbefore {
  opacity: 100%;
  transition: ease-in-out 0.2s;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.funfact {
  background-color: #f3f3f3;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.funfactsubtitle {
  color: #4280ef;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.funfacttitle {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.funfactcard {
  background-size: cover;
  object-fit: cover;
  background-position: top;
}

.funfactisi {
  display: flex;
  width: 276.767px;
  height: 179.039px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.cardbody {
  height: 300px;
  opacity: 0%;
  transition: ease-in-out 0.2s;
}

.funfactcard:hover .cardbody {
  opacity: 100%;
}

.perpustakaan {
  background-image: url(img/funfact/perpustakaan.webp);
}
.angin {
  background-image: url(img/funfact/angin.webp);
}
.batu {
  background-image: url(img/funfact/BATU.webp);
}
.kapal {
  background-image: url(img/funfact/kapal.webp);
}
.kelas {
  background-image: url(img/funfact/kelas.webp);
}
.hall {
  background-image: url(img/funfact/hall.webp);
}

.cardcatalog1:hover {
  cursor: pointer;
}
.cardcatalog2:hover {
  cursor: pointer;
}
.cardcatalog3:hover {
  cursor: pointer;
}
.cardcatalog4:hover {
  cursor: pointer;
}
.cardcatalog5:hover {
  cursor: pointer;
}
.cardcatalog6:hover {
  cursor: pointer;
}

.card-overlay {
  opacity: 0%;
  transition: all 0.2s ease-in-out;
}

.card-overlay-after-red {
  background: rgba(229, 67, 54, 0.5);
  transition: all 0.2s ease-in-out;
}
.card-overlay-after-blue {
  background: rgba(66, 128, 239, 0.5);
  transition: all 0.2s ease-in-out;
}
.card-overlay-after-green {
  background: rgba(115, 188, 107, 0.5);
  transition: all 0.2s ease-in-out;
}

.review {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.reviewsubtitle {
  color: #4280ef;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reviewtitle {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.carousel-inner {
  height: 325px;
}

.textreview {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  text-align: justify;
}

.tidaktampil {
  opacity: 0%;
  transition: ease-in-out 0.2s;
}

.tampil {
  opacity: 100%;
  transition: ease-in-out 0.2s;
}

.reviewphoto {
  background-size: cover;
  object-fit: cover;
  background-position: top;
  width: 237px;
  height: 356px;
}

.almyra {
  background-image: url(review/Almyra_Zalfa_Anggadinata.jpeg);
}
.amanda {
  background-image: url(review/Amanda_Aufadina.jpg);
}
.citra {
  background-image: url(review/Cahaya_citra.jpg);
}
.najma {
  background-image: url(review/Najma_Maylafaiz.jpg);
}

.googi {
  background-color: #FFE19D;
}

.googisubtitle {
  color: #E69100;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.googititle {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.cardgoogi {
  margin: auto;
  padding: 3rem;
  border-radius: 25px;
  background: #FFF;
  flex-shrink: 0;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #1d1b1b;
  scale: 125%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

footer {
  background-color: #d9d9d9;
}
